.form-transactions {
  max-width: 1120px;
  width: 92%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 3px 2px 4px 1px #00000054;
  gap: 10px;
  overflow: hidden;
}

.form-fieldset {
  display: flex;
  width: 38%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form-fieldset:nth-last-child(1) {
  width: 13%;
  align-items: center;
  margin-top: 18px;
}

.form-fieldset:nth-last-child(2) {
  width: 19%;
  align-items: center;
  margin-top: 18px;
}

.form-radio-group {
  display: flex;
  align-items: center;
  margin-left: 18px;
}

.fieldset-item {
  width: 90px;
  display: flex;
  border: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.fieldset-item label {
  cursor: pointer;
}

.input-radio {
  margin-right: 5px;
  accent-color: #d61b1b;
  margin-top: 0;
}

@media (max-width: 1000px) {
  .form-transactions {
    display: flow-root;
    justify-items: center;
  }

  .form-fieldset,
  .form-fieldset:nth-last-child(1),
  .form-fieldset:nth-last-child(2) {
    width: 100%;
  }
}
