.form-transactions {
  max-width: 1120px;
  width: 92%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 3px 2px 4px 1px #00000054;
  gap: 10px;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.form-radio-group {
  display: flex;
  align-items: center;
  width: 220px;
  margin-top: 20px;
}

.input-radio {
  margin-left: 20px;
  margin-right: 5px;
  accent-color: #d61b1b;
  margin-top: 0;
}

@media (max-width: 750px) {
  .form-transactions {
    display: grid;
  }
}
