.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  width: 30%;
  box-shadow: 3px 2px 4px 1px #00000054;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
  margin: 14px auto;
}

.card-title {
  font-size: 1.5rem;
}

.total {
  font-size: 1.4rem;
  font-weight: bold;
}

@media (max-width: 750px) {
  .card {
    width: 100%;
    margin-bottom: 22px;
  }

  .card:last-child {
    margin-bottom: 0;
  }

  .card-header {
    justify-content: space-between;
  }
}
